

/* ========================================
tag elements 
======================================== */

body {
  background-color: black;
  color: #cacaca;
  font-family: sans-serif;
  margin: 0;
  font-size: 1.2em;
}

footer {
	text-align: center;
	font-size: .6em;
}

/* ========================================
class elements 
======================================== */

.container {
  max-width: 1100px;
	width: 60%;
  margin: auto;
}

.assinatura {
	margin-top: 0; 
	margin-bottom: 0;
	font-style: italic;
}